# SpatialOS project build directory
build/

# Cache and other project metadata
.spatialos/

# Logs
spatial.log
logs/

# Worker packages and other dependencies
dependencies/worker_sdk

# VS Code
.vscode

.idea
cmake-build-debug
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/CExampleProject/v16/Browse.VC.db
.vs/CExampleProject/v16/.suo
